body {
  overflow: hidden;
}

h4 {
  font-size: 15px;
}

#left-content-panel {
  height: 100%;
  background-color: rgba(243, 243, 244, 1);
  float: left;
  position: absolute;
  z-index: 800;
}

#left-content {
  padding: 4em;
}

#left-content h1{
  text-align: center;
  width: 100%;
}

.collapse-button-left {
  display: none;
  float: right;
  color: white;
  background-color: #CD371D;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding-right: 2px;
  padding-top: 5px;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;

}

.collapse-button-left i {
  color: white;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#map-wrapper {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100vw;
}

body.template-visualize #left-panel {
  top: 85px;
  /* bottom: 20px; */
  left: auto;
  right: 10px;
  height: calc(100% - 190px);
  width: 280px;
}

body.template-visualize #left-panel .panel-heading {
  height: 40px;
  padding: 0;
}

body.template-visualize .panel.collapsible .panel-title {
  padding-left: 35px;
  padding-right: 10px;
}

body.template-visualize .panel.collapsible.collapsed .show-collapsed {
  padding-top: 5px;
}

body.template-visualize #left-panel .panel-heading .search-box {
  width: 100%;
  margin-top: 0;
}

body.template-visualize #left-panel .panel-title .form-search {
  width: 100%;
}

body.template-visualize #left-panel .panel-title .form-search .right {
  top: 10px;
}


body.template-visualize #left-panel .panel-title .collapse-button {
  left: 0;
  margin: 3px;
}

body.template-visualize #left-panel .panel-body {
  height: calc(100% - 40px);
}

body.template-visualize #left-panel #myTabContent {
  height: calc(100% - 26px);
  /* height: 100%; */
}


body.template-visualize #map-controls {
  top: 10px;
}

body.template-visualize .olControlMousePosition,
body.template-visualize #map-controls a,
div.olControlZoom a {
  border: 1px solid black;
  border-radius: 4px;
}

body.template-visualize #map-controls a#wms-button {
  display: none;
}

body.template-visualize #baselayers {
  cursor: pointer;
}

body.template-visualize #toggleBaselayer:hover {
  border: 2px solid #00a564;
}

div.olControlZoom a:hover,
body.template-visualize #map-controls a:hover {
  color: #00a564;
  background-color: #CCC;
  border: 2px solid #00a564;
}

body.template-visualize .olControlMousePosition:empty {
  border: none;
}

/* body.template-visualize #baselayers {
  top: 35px;
  bottom: auto;
  right: 80px;
} */

body.template-visualize #toggleBaselayer {
  width: 45px;
  height: 45px;
  padding: 4px;
}

div.olControlZoom {
  bottom: 25px;
}

footer {
  visiblilty: hidden;
  display: none;
}
