/*
  colors:
    blue: #4980AD
    red: #CD371D
    gold: #B49814
    gray: #666;
*/

body {
  overflow: hidden;
}

h1 {
  color: rgb(33,37,41);
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h4 {
  font-size: 15px;
  margin-bottom: 0.5rem;
  margin-top: 0;
  line-height: 1.2;
}

#left-content-panel {
  height: 100%;
  background-color: rgba(243, 243, 244, 1);
  position: absolute;
  z-index: 800;
  width: 0;
}

#left-content-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

#left-content {
  height: calc(100% - 2em);
  padding: 4em;
  width: 100%;
  overflow: auto;
  position: absolute;
}

#left-content h1{
  text-align: center;
  width: 100%;
}

#left-content h2 {
  background-color: orange;
  color: white;
  margin: 2em;
  width: auto;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}
#left-content h3 {
  color: orange;
  font-size: 1.75rem;
  line-height: 1.2;
  font-weight: 500;
}

#left-content p {
  font-size: medium;
}

#left-content-panel img {
  margin: auto;
  position: relative;
  max-width: 100%;
  display: inline-block;
  height: auto !important;
}

.collapse-button-left {
  display: none;
  color: white;
  background-color: #CD371D;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding-right: 2px;
  padding-top: 5px;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  right: 10px;
  position: absolute;
  top: 0px;
  cursor: pointer;
}

.collapse-button-left:hover {
  background-color: #B49814;
}

.collapse-button-left i {
  color: white;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#map-wrapper {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100vw;
}

body.template-visualize #left-panel {
  top: 85px;
  /* bottom: 20px; */
  left: auto;
  right: 10px;
  height: calc(100% - 190px);
  width: 280px;
}

body.template-visualize #left-panel .panel-heading {
  height: 40px;
  padding: 0;
}

body.template-visualize .panel.collapsible .panel-title {
  padding-left: 45px;
  padding-right: 10px;
  min-height: 45px;
}

body.template-visualize .panel.collapsible.collapsed .show-collapsed {
  padding-top: 13px;
}

body.template-visualize #left-panel .panel-heading .search-box {
  width: 100%;
  margin-top: 0;
}

body.template-visualize #left-panel .panel-title .form-search {
  width: 100%;
}

body.template-visualize #left-panel .panel-title .form-search .right {
  top: 10px;
}

body.template-visualize #left-panel .panel-title .collapse-button {
  left: 0;
  margin: 3px;
  background-color: #CD371D;
  padding-left: 2px;
  padding-top: 5px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 10px;
}

body.template-visualize #left-panel .panel-title .collapse-button:hover {
  background-color: #B49814;
  color: white;
}

body.template-visualize #left-panel .panel-body {
  height: calc(100% - 40px);
}

body.template-visualize #left-panel #myTabContent {
  height: calc(100% - 26px);
  /* height: 100%; */
}

body.template-visualize .sidebar-nav .nav-tabs > li {
  padding-top: 5px;
}

body.template-visualize .sidebar-nav .nav-tabs > li.active a {
  border-bottom: none;
  color: #4980AD;
}

body.template-visualize #map-controls {
  top: 10px;
}

body.template-visualize .olControlMousePosition,
body.template-visualize #map-controls a,
div.olControlZoom a {
  border: 1px solid black;
  border-radius: 4px;
}

body.template-visualize #map-controls a#wms-button {
  display: none;
}

body.template-visualize #baselayers {
  cursor: pointer;
}

body.template-visualize #toggleBaselayer:hover {
  border: 2px solid #00a564;
}

div.olControlZoom a:hover,
body.template-visualize #map-controls a:hover {
  color: #00a564;
  background-color: #CCC;
  border: 2px solid #00a564;
}

body.template-visualize .olControlMousePosition:empty {
  border: none;
}

/* body.template-visualize #baselayers {
  top: 35px;
  bottom: auto;
  right: 80px;
} */

body.template-visualize #toggleBaselayer {
  width: 45px;
  height: 45px;
  padding: 4px;
  color: white;
  text-shadow: 2px 2px #000;
}

div.olControlZoom {
  bottom: 25px;
}

body.template-visualize .SimpleLayerSwitcher {
  width: auto;
  padding: 1em;
}

footer {
  visiblilty: hidden;
  display: none;
}
